In [22]:
%matplotlib inline
import numpy as np
import pandas as pd
from pandas import Series,DataFrame
import matplotlib
import matplotlib.pyplot as plt
import datetime as dt
from datetime import *

In [76]:
data = pd.read_csv('cohort-new.csv', low_memory=False)
data[-10:]

          MysqlDate       PID           Revenue    Service Name Pay Period
4458075  2014-02-28   2067906        NewRevenue         Creator        NaN
4458076  2014-02-28   2068093  RecurringRevenue         Creator        NaN
4458077  2014-03-28   2070340  RecurringRevenue         Creator        NaN
4458078  2014-02-28   2068093  RecurringRevenue         Creator        NaN
4458079  2014-03-12   2068945        NewRevenue        Projects        NaN
4458080  2014-02-28   2068059        NewRevenue         Creator        NaN
4458081  2014-02-28  2CN-1825        NewRevenue         Creator        NaN
4458082  2014-02-28       NaN        NewRevenue         Creator        NaN
4458083  2014-03-11   2068833  RecurringRevenue  Commercial API        NaN
4458084  2014-02-28       NaN        NewRevenue         Invoice        NaN

In [7]:
now = datetime.now()
now

datetime.datetime(2016, 2, 29, 19, 41, 39, 489000)

In [74]:
datetime(now.year,now.month,1)

datetime.datetime(2016, 2, 1, 0, 0)

In [11]:
print now.year,now.month,now.day,now.hour,now.minute,now.second

 2016 2 29 19 41 39

In [13]:
delta = datetime.now() - now
delta

datetime.timedelta(0, 117, 310000)

In [16]:
delta.seconds

117

In [19]:
now + timedelta(10)

datetime.datetime(2016, 3, 10, 19, 41, 39, 489000)

In [20]:
now - timedelta(seconds = 12*60)

datetime.datetime(2016, 2, 29, 19, 29, 39, 489000)

In [23]:
dir(dt)

['MAXYEAR',
 'MINYEAR',
 '__doc__',
 '__name__',
 '__package__',
 'date',
 'datetime',
 'datetime_CAPI',
 'time',
 'timedelta',
 'tzinfo']

<h2> String and datetime </h2>

In [24]:
#datetime to string
str(now)

'2016-02-29 19:41:39.489000'

In [29]:
now.strftime('%Y-%m-%d')

'2016-02-29'

In [32]:
#String to datetime
datestr = '2014-04-02'
datetime.strptime(datestr,'%Y-%m-%d')

datetime.datetime(2014, 4, 2, 0, 0)

<h5> We can use dateutil.parse for complex formats </h5>

In [33]:
#pandas version
data['MysqlDate'] = pd.to_datetime(data['MysqlDate'])
data['MysqlDate'][:10]

0   2013-06-05
1   2013-05-05
2   2013-04-05
3   2014-03-05
4   2014-02-05
5   2014-01-05
6   2013-12-05
7   2013-11-05
8   2013-10-05
9   2013-09-05
Name: MysqlDate, dtype: datetime64[ns]

In [34]:
type(data['MysqlDate'])

pandas.core.series.Series

In [35]:
sum(data['MysqlDate'].isnull())

0

<h5> for formats see the boo </h5>

In [37]:
data = data.set_index('MysqlDate')
data[:10]

                        PID         Revenue Service Name Pay Period
MysqlDate
2013-06-05  RP0000148028PP1  AccrualRevenue     Projects       YEAR
2013-05-05  RP0000148013PP2  AccrualRevenue      Invoice       YEAR
2013-04-05  RP0000148013PP2      NewRevenue      Invoice       YEAR
2014-03-05  RP0000148028PP1  AccrualRevenue     Projects       YEAR
2014-02-05  RP0000148028PP1  AccrualRevenue     Projects       YEAR
2014-01-05  RP0000148028PP1  AccrualRevenue     Projects       YEAR
2013-12-05  RP0000148028PP1  AccrualRevenue     Projects       YEAR
2013-11-05  RP0000148028PP1  AccrualRevenue     Projects       YEAR
2013-10-05  RP0000148028PP1  AccrualRevenue     Projects       YEAR
2013-09-05  RP0000148028PP1  AccrualRevenue     Projects       YEAR

In [39]:
type(data.index)

pandas.tseries.index.DatetimeIndex

In [41]:
data = data.sort_index()
data[:10]

                     PID           Revenue Service Name Pay Period
MysqlDate
2011-02-01  RP0000048751        NewRevenue     Projects       MONT
2011-02-01  RP0000045951  RecurringRevenue          CRM       MONT
2011-02-01  RP0000045952  RecurringRevenue          CRM       MONT
2011-02-01  RP0000045932  RecurringRevenue          CRM       MONT
2011-02-01  RP0000045932    UpgradeRevenue          CRM       MONT
2011-02-01  RP0000045930  RecurringRevenue          CRM       MONT
2011-02-01  RP0000045940  RecurringRevenue          CRM       MONT
2011-02-01  RP0000014860    UpgradeRevenue          CRM       MONT
2011-02-01  RP0000045942  RecurringRevenue          CRM       MONT
2011-02-01  RP0000045943  RecurringRevenue          CRM       MONT

In [43]:
data.ix['2011-03-29']

                     PID           Revenue Service Name Pay Period
MysqlDate
2011-03-29  RP0000033331    UpgradeRevenue          CRM       MONT
2011-03-29  RP0000045448            Others          CRM       MONT
2011-03-29  RP0000017369            Others          CRM       MONT
2011-03-29  RP0000035585  RecurringRevenue          CRM       MONT
2011-03-29  RP0000013107    UpgradeRevenue          CRM       MONT
2011-03-29  RP0000027858  RecurringRevenue     Projects       MONT
2011-03-29  RP0000033602  RecurringRevenue          CRM       MONT
2011-03-29  RP0000035094            Others          CRM       MONT
2011-03-29  RP0000021711  RecurringRevenue          CRM       MONT
2011-03-29  RP0000011273            Others     Projects       YEAR
2011-03-29  RP0000008362  RecurringRevenue          CRM       MONT
2011-03-29  RP0000033614  RecurringRevenue          CRM       MONT
2011-03-29       1054056        NewRevenue      ToonDoo        NaN
2011-03-29  RP0000045536    UpgradeRevenue          CRM       MONT
2011-03-29  RP0000040468    UpgradeRevenue     Projects       MONT
2011-03-29  RP0000045440            Others          CRM       MONT
2011-03-29  RP0000041616  RecurringRevenue     Projects       MONT
2011-03-29  RP0000046779    UpgradeRevenue          CRM       MONT
2011-03-29  RP0000012668    UpgradeRevenue          CRM       MONT
2011-03-29  RP0000048132            Others          CRM       MONT
2011-03-29  RP0000032720    UpgradeRevenue          CRM       YEAR
2011-03-29  RP0000041604  RecurringRevenue     Projects       MONT
2011-03-29  RP0000008943  RecurringRevenue          CRM       MONT
2011-03-29  RP0000037483  RecurringRevenue     Projects       MONT
2011-03-29  RP0000027784  RecurringRevenue          CRM       QTER
2011-03-29  RP0000035500    UpgradeRevenue          CRM       MONT
2011-03-29  RP0000035614  RecurringRevenue          CRM       MONT
2011-03-29  RP0000035621  RecurringRevenue          CRM       MONT
2011-03-29  RP0000035664  RecurringRevenue          CRM       MONT
2011-03-29  RP0000035640  RecurringRevenue          CRM       MONT
...                  ...               ...          ...        ...
2011-03-29  RP0000039510  RecurringRevenue          CRM       MONT
2011-03-29  RP0000030877    UpgradeRevenue     Projects       MONT
2011-03-29  RP0000050762            Others          CRM       MONT
2011-03-29  RP0000039511  RecurringRevenue          CRM       MONT
2011-03-29  RP0000041984            Others          CRM       MONT
2011-03-29        RP0727        NewRevenue          CRM       YEAR
2011-03-29  RP0000045814  RecurringRevenue          CRM       MONT
2011-03-29  RP0000054324        NewRevenue     Projects       MONT
2011-03-29  RP0000054359        NewRevenue     Projects       MONT
2011-03-29  RP0000052290    UpgradeRevenue          CRM       MONT
2011-03-29  RP0000039911    UpgradeRevenue          CRM       MONT
2011-03-29  RP0000046275    UpgradeRevenue          CRM       MONT
2011-03-29  RP0000054249        NewRevenue          CRM       YEAR
2011-03-29  RP0000013163  RecurringRevenue     Projects       MONT
2011-03-29  RP0000015925    UpgradeRevenue          CRM       MONT
2011-03-29  RP0000054252        NewRevenue          CRM       YEAR
2011-03-29  RP0000038890            Others          CRM       MONT
2011-03-29  RP0000041627  RecurringRevenue          CRM       MONT
2011-03-29  RP0000054250    UpgradeRevenue     Projects       MONT
2011-03-29  RP0000027847  RecurringRevenue          CRM       YEAR
2011-03-29  RP0000027795  RecurringRevenue          CRM       YEAR
2011-03-29  RP0000022482    UpgradeRevenue          CRM       MONT
2011-03-29  RP0000041619  RecurringRevenue          CRM       MONT
2011-03-29  RP0000045843  RecurringRevenue          CRM       MONT
2011-03-29  RP0000015921  RecurringRevenue          CRM       MONT
2011-03-29  RP0000003880  RecurringRevenue          CRM       MONT
2011-03-29  RP0000054298        NewRevenue     Projects       MONT
2011-03-29  RP0000045823  RecurringRevenue          CRM       MONT
2011-03-29  RP0000027787  RecurringRevenue          CRM       YEAR
2011-03-29  RP0000054250    UpgradeRevenue     Projects       MONT

[352 rows x 4 columns]

In [45]:
data.ix['2011-11-01':'2011-11-03':100]

                        PID           Revenue Service Name Pay Period
MysqlDate
2011-11-01     RP0000060320    UpgradeRevenue          CRM       MONT
2011-11-01     RP0000043928  RecurringRevenue     Projects       MONT
2011-11-01     RP0000054501    AccrualRevenue     Projects       YEAR
2011-11-01  RP0000066386PP1  RecurringRevenue          CRM       MONT
2011-11-01     RP0000003050  RecurringRevenue          CRM       MONT
2011-11-01     RP0000054613    AccrualRevenue     Projects       YEAR
2011-11-01     RP0000003378    AccrualRevenue          CRM       YEAR
2011-11-01     RP0000005114  RecurringRevenue     Site24x7       MONT
2011-11-01     RP0000039865  RecurringRevenue   Mail Suite       YEAR
2011-11-01  RP0000076866PP1        NewRevenue          CRM       MONT
2011-11-01     RP0000051467  RecurringRevenue          CRM       MONT
2011-11-01     RP0000035245    AccrualRevenue          CRM       YEAR
2011-11-01  RP0000076766PP1        NewRevenue   Mail Suite       YEAR
2011-11-01     RP0000025768            Others          CRM       QTER
2011-11-01     RP0000009532    AccrualRevenue     Projects       YEAR
2011-11-01     RP0000041779  RecurringRevenue          CRM       MONT
2011-11-01          RP01100    AccrualRevenue          CRM       YEAR
2011-11-02     RP0000023885  RecurringRevenue          CRM       MONT
2011-11-02     RP0000032011    AccrualRevenue     Projects       YEAR
2011-11-02  RP0000077179PP1            Others          CRM       MONT
2011-11-02  RP0000063403PP1  RecurringRevenue          CRM       MONT
2011-11-02     RP0000036043            Others     Projects       YEAR
2011-11-02     RP0000012290    AccrualRevenue          CRM       YEAR
2011-11-02  RP0000077147PP1        NewRevenue   Mail Suite       YEAR
2011-11-02  RP0000069706PP1            Others      Creator       MONT
2011-11-02     RP0000004394            Others      Creator       MONT
2011-11-02  RP0000077011PP2        NewRevenue      Creator       YEAR
2011-11-02     RP0000041484    UpgradeRevenue          CRM       MONT
2011-11-02     RP0000057353  RecurringRevenue      Creator       MONT
2011-11-03     RP0000060416  RecurringRevenue          CRM       MONT
2011-11-03     RP0000032937  RecurringRevenue          CRM       MONT
2011-11-03     RP0000049067  RecurringRevenue      Invoice       QTER
2011-11-03     RP0000046047  RecurringRevenue          CRM       MONT
2011-11-03     RP0000019194  RecurringRevenue      Invoice       MONT
2011-11-03     RP0000049010  RecurringRevenue          CRM       MONT
2011-11-03     RP0000023433            Others          CRM       YEAR
2011-11-03     RP0000041976  RecurringRevenue     Site24x7       MONT
2011-11-03     RP0000054719  RecurringRevenue          CRM       MONT
2011-11-03     RP0000046071  RecurringRevenue     Site24x7       MONT
2011-11-03     RP0000060433  RecurringRevenue          CRM       MONT
2011-11-03     RP0000033476            Others     Projects       YEAR

In [63]:
data_dummy = data[0:2000:2]

In [64]:
data_dummy[:10]

                     PID           Revenue Service Name Pay Period
MysqlDate
2011-02-01  RP0000048751        NewRevenue     Projects       MONT
2011-02-01  RP0000045952  RecurringRevenue          CRM       MONT
2011-02-01  RP0000045932    UpgradeRevenue          CRM       MONT
2011-02-01  RP0000045940  RecurringRevenue          CRM       MONT
2011-02-01  RP0000045942  RecurringRevenue          CRM       MONT
2011-02-01  RP0000045934  RecurringRevenue          CRM       MONT
2011-02-01  RP0000001850  RecurringRevenue     Projects       YEAR
2011-02-01  RP0000045949  RecurringRevenue          CRM       MONT
2011-02-01  RP0000002705  RecurringRevenue          CRM       SMYR
2011-02-01  RP0000048806        NewRevenue     Projects       YEAR

In [65]:
data_dummy.set_index('Service Name',append=True,inplace=True)
data_dummy.sort_index(0)

                                  PID           Revenue Pay Period
MysqlDate  Service Name
2011-02-01 CRM           RP0000045952  RecurringRevenue       MONT
           CRM           RP0000045932    UpgradeRevenue       MONT
           CRM           RP0000045940  RecurringRevenue       MONT
           CRM           RP0000045942  RecurringRevenue       MONT
           CRM           RP0000045934  RecurringRevenue       MONT
           CRM           RP0000045949  RecurringRevenue       MONT
           CRM           RP0000002705  RecurringRevenue       SMYR
           CRM           RP0000033415            Others       MONT
           CRM           RP0000039821    UpgradeRevenue       MONT
           CRM           RP0000043116    UpgradeRevenue       MONT
           CRM           RP0000043324            Others       MONT
           CRM           RP0000008524    UpgradeRevenue       YEAR
           CRM           RP0000048777        NewRevenue       MONT
           CRM           RP0000048729        NewRevenue       YEAR
           CRM           RP0000044093    UpgradeRevenue       YEAR
           CRM           RP0000001910    UpgradeRevenue       MONT
           CRM           RP0000017757            Others       YEAR
           CRM           RP0000046483    UpgradeRevenue       MONT
           CRM           RP0000048755        NewRevenue       MONT
           CRM           RP0000045945  RecurringRevenue       MONT
           CRM           RP0000048802        NewRevenue       MONT
           CRM           RP0000046552    UpgradeRevenue       MONT
           CRM           RP0000048794        NewRevenue       MONT
           CRM           RP0000034260    UpgradeRevenue       MONT
           CRM           RP0000048779        NewRevenue       MONT
           CRM           RP0000048777    UpgradeRevenue       MONT
           CRM           RP0000033110            Others       MONT
           CRM           RP0000012290    UpgradeRevenue       YEAR
           CRM           RP0000012273  RecurringRevenue       MONT
           CRM           RP0000012359            Others       MONT
...                               ...               ...        ...
2011-02-07 CRM           RP0000022287  RecurringRevenue       MONT
           CRM           RP0000049368    UpgradeRevenue       MONT
           CRM           RP0000032545            Others       MONT
           CRM           RP0000049366            Others       MONT
           CRM           RP0000049362        NewRevenue       MONT
           CRM           RP0000049350        NewRevenue       MONT
           CRM           RP0000049329        NewRevenue       MONT
           CRM           RP0000023198    UpgradeRevenue       MONT
           CRM           RP0000038022  RecurringRevenue       MONT
           CRM           RP0000049374        NewRevenue       MONT
           CRM           RP0000049376        NewRevenue       MONT
           CRM           RP0000041925    UpgradeRevenue       MONT
           Projects      RP0000002758  RecurringRevenue       MONT
           Projects      RP0000002030    UpgradeRevenue       MONT
           Projects      RP0000020886  RecurringRevenue       MONT
           Projects      RP0000019421  RecurringRevenue       QTER
           Projects      RP0000017979  RecurringRevenue       MONT
           Projects      RP0000000752    UpgradeRevenue       MONT
           Projects      RP0000017960  RecurringRevenue       MONT
           Projects      RP0000008667    UpgradeRevenue       MONT
           Projects      RP0000021071  RecurringRevenue       MONT
           Projects      RP0000022350  RecurringRevenue       MONT
           Projects      RP0000049429        NewRevenue       YEAR
           Projects      RP0000016616  RecurringRevenue       MONT
           Projects      RP0000022311  RecurringRevenue       MONT
           Projects      RP0000049308        NewRevenue       MONT
           Projects      RP0000043799  RecurringRevenue       MONT
           Projects      RP0000046432  RecurringRevenue       MONT
           Projects      RP0000042525    UpgradeRevenue       MONT
           Projects      RP0000046411  RecurringRevenue       YEAR

[1000 rows x 3 columns]

In [68]:
data_dummy[data_dummy['Revenue']=='NewRevenue'].count(level=1)

              PID  Revenue  Pay Period
Service Name
CRM           111      111         111
Projects       27       27          27

In [75]:
data[-20:]

                        PID         Revenue Service Name Pay Period
MysqlDate
2018-07-28  RP0000098677PP2  AccrualRevenue   Mail Suite       YEAR
2018-08-28  RP0000098677PP2  AccrualRevenue   Mail Suite       YEAR
2018-09-28  RP0000098677PP2  AccrualRevenue   Mail Suite       YEAR
2018-10-28  RP0000098677PP2  AccrualRevenue   Mail Suite       YEAR
2018-11-28  RP0000098677PP2  AccrualRevenue   Mail Suite       YEAR
2018-12-28  RP0000098677PP2  AccrualRevenue   Mail Suite       YEAR
2019-01-28  RP0000098677PP2  AccrualRevenue   Mail Suite       YEAR
2019-02-28  RP0000098677PP2  AccrualRevenue   Mail Suite       YEAR
2019-03-28  RP0000098677PP2  AccrualRevenue   Mail Suite       YEAR
2019-04-28  RP0000098677PP2  AccrualRevenue   Mail Suite       YEAR
2019-05-28  RP0000098677PP2  AccrualRevenue   Mail Suite       YEAR
2019-06-28  RP0000098677PP2  AccrualRevenue   Mail Suite       YEAR
2019-07-28  RP0000098677PP2  AccrualRevenue   Mail Suite       YEAR
2019-08-28  RP0000098677PP2  AccrualRevenue   Mail Suite       YEAR
2019-09-28  RP0000098677PP2  AccrualRevenue   Mail Suite       YEAR
2019-10-28  RP0000098677PP2  AccrualRevenue   Mail Suite       YEAR
2019-11-28  RP0000098677PP2  AccrualRevenue   Mail Suite       YEAR
2019-12-28  RP0000098677PP2  AccrualRevenue   Mail Suite       YEAR
2020-01-28  RP0000098677PP2  AccrualRevenue   Mail Suite       YEAR
2020-02-28  RP0000098677PP2  AccrualRevenue   Mail Suite       YEAR